<launch>
    <!-- smach -->
    <node pkg="smach_viewer" type="smach_viewer.py" name="smach_viewer"/>

    <!-- clock server -->
    <arg name="clock" default="6"/>
    <node pkg="g1_statemachine" type="ClockServer.py" name="get_clock">
        <param name="~clock" value="$(arg clock)"/>
    </node>

    <!-- state_machine -->
    <arg name="param" default="$(find pkg)/io/config/param.yaml"/>
    <node pkg="g1_statemachine" type="sm_main.py" name="sm_main" output='screen'>
        <param name="~clock" value="$(arg clock)"/>
        <param name="~hungry_flag" value="0"/>
        <param name="~dish_counter" value="2"/>
    </node>
</launch>